[user]
	email = lzhang@palantir.com
	name = Lingliang Zhang
[push]
	default = simple
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
	ui = true
    pager = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[core]
	editor = vim
	excludesfile = /Users/lzhang/.gitignore_global
