# cycle forward
TAB: menu-complete

# show all
"\e[Z": complete

# display one column with matches
set completion-display-width 1

# back and forward a word with Ctrl + Left and
# Ctrl + Right in urxvt
"\e\e[D": backward-word
"\e\e[C": forward-word
